{{>layout/header}}
<h1>게시글 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="stId">아이디</label>
                <input type="text" class="form-control"
                    id="stId" placeholder="아이디를 입력하세요">
            </div>
            <div class="form-group">
                <label for="stTel">휴대폰</label>
                <input type="text" class="form-control"
                    id="stTel" placeholder="휴대폰을 입력하세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer}}